$primary: #000000;
$secondary: #f9f8f3;
$ternary:#c2c2c2;
$accent: #61b26f;
$card-text:#c5c4bf;



$revenue-stats-bg: $primary;
$revenue-stats-logo-bg: #e3e3e3;
$revenue-stats-color: #ffffff;


//card
$cards: (
  "stats": #f9f8f3,
  "sales": #ffefe2,
  "profits": #eefcef,
  "orders": #e6f5fa,
  "visits": #f4f5f9,
);
