$primary: #f9f8f3;
$secondary: #000000;
$accent: #61b26f;

$revenue-stats-bg: $secondary;
$revenue-stats-logo-bg: #e3e3e3;
$revenue-stats-color: #ffffff;
$revenue-stats-desc: #e3e3e3;

//cards
$card-text: #000000;
$card-title: #575757;
$card-desc: #575757;

//card
$cards: (
  "stats": #f9f8f3,
  "sales": #ffefe2,
  "profits": #eefcef,
  "orders": #e6f5fa,
  "visits": #f4f5f9,
);
