//gobal style goes here
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

// body {
//   font-family: $font-family;
//   font-size: $font-size-base;
// }

// //height-100
// .h-100 {
//   height: 100%;
// }

// //--- img start ---
// .img {
//   max-width: 100%;
// }
// //--- img ends ---

// //---row start---
// .row {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 -1rem;
//   // margin-right: -$coloum-padding-side;
//   // margin-left: -$coloum-padding-side;
// }
// //---row ends---

// //---flex start---
// .d-flex {
//   display: flex;
// }

// .flex-column {
//   flex-direction: column;
// }

// .flex-wrap {
//   flex-wrap: wrap;
// }

// .flex-grow-1 {
//   flex-grow: 1;
// }

// .flex-shrink-0 {
//   flex-shrink: 0;
// }

// .align-item-center {
//   align-items: center;
// }

// .align-item-start {
//   align-items: flex-start;
// }

// .align-item-end {
//   align-items: flex-end;
// }

// .align-item-baseline {
//   align-items: baseline;
// }

// .justify-content-start {
//   justify-content: start;
// }

// .justify-content-end {
//   justify-content: end;
// }

// .justify-content-center {
//   justify-content: center;
// }

// .justify-content-between {
//   justify-content: space-between;
// }

// .justify-content-around {
//   justify-content: space-around;
// }
// //----flex ends---

// //---overflow start---
// .overflow-hidden {
//   overflow: hidden;
// }

// .overflow-vertical {
//   overflow-x: hidden;
//   overflow-y: auto;
// }
// .overflow-auto {
//   overflow: auto;
// }

// //---overflow ends---

// //---position start---
// .position-relative {
//   position: relative;
// }

// .position-absolute {
//   position: absolute;
// }

// //---positions ends---
