#greet-welcome {
  font-size: 0.75rem;
  color: #bababa;
}

.content-wrapper {
  padding: 2.5rem;
}
.card-group-col {
  width: 100%;
  padding: 1rem 1rem;
  .card-col {
    width: 33.33%;
    padding: 0 1rem;
  }
}
.card-col {
  width: 50%;
  padding: 1rem 1rem;
}
