.sidebar {
  flex: 0 0 $sidebar-width;
  max-width: $sidebar-width;
  border-right: 1px solid $ternary;

  .brand-logo {
    &-icon {
      height: 80px;
      padding: 30px;
      padding-bottom: 50px;
      font-size: 1.12rem;
    }
  }

  .nav {
    display: block;
    &-item {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    &-link {
      transition: 0.4s all;
      border-left: $sidebar-border-width solid transparent;
      .icon {
        font-size: 1rem;
      }

      &.active {
        border-left: $sidebar-border-width solid $primary;
      }
      &:hover {
        border-left: $sidebar-border-width solid $primary;
        font-weight: $font-weight-bold;
      }
    }
  }

  .user {
    margin-bottom: 2rem;
    &-avatar {
      width: 50px;
      height: 50px;
      padding: 0.375rem;
      margin-bottom: 0.8rem;
      border: 2px solid #c2c2c2;
      border-radius: 8px;
      img {
        border-radius: 8px;
      }
    }

    &-status {
      bottom: 0px;
      right: -5px;
      height: 8px;
      width: 8px;
      background-color: $accent;
      border: 1px solid $ternary;
      border-radius: 50%;
    }

    &-name {
      letter-spacing: 0;
      font-size: 1.12rem;
      font-weight: 500;
    }
  }
}
