.search-icon {
  top: 10px;
  left: 15px;
  font-size: 1rem;
  color: #363636;
  z-index: 99;
}

#search {
  z-index: 9;
  padding-left: 3rem;
  border-radius: $border-radius;
}
.form-control:focus {
  box-shadow: none;
}
