.search-icon {
  top: 10px;
  left: 15px;
  font-size: 1rem;
  color: #363636;
  z-index: 10;
}

#search {
  z-index: 9;
  padding-left: 3rem;
}
.form-control:focus {
  box-shadow: none;
}

#filter-box{
  width: 100px;
  padding-right: 30px;
}

.icon-filter {
  top: 11px;
  right: 12px;
}
